/* Base */
.navbar {
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    background-color: #004a9f;
    margin-bottom: 0px;
}

.navbar-collapse {
    border-radius: 0px;
    background-color: #004a9f;
}

.navbar-brand {
    color: #FFF
}

.row {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;

}

hr {
    margin: 0;
}

/* Homepage */

.hero {
    display: inline;
}

.news-section {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.main-news {
    display: block;
    background-color: #FFF;
    margin-bottom: 15px;
    margin-left: 0px;
    flex: 1;
}

.headlines-img {
    padding-left: 0px;
}

.headlines-section-titles {
    font-size: 14px;
}

.more-stories {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 240px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.more-stories-item {
    flex: 1;

}



/* Article Page */

.top-story {
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.top-story h3 {
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
    padding: 5px;
}

body {
    background-color: #EEEEEE;
}

.top-stories {
}

.top-stories h2 {
    color: rgba(0,0,0, 0.8);
    padding: 0px 5px;
}

.related-content {
    background-color: rgba(0,0,0, 0.8);
    color: rgba(255,255,255, 0.8);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.related-content h3 {
    color: rgba(255,255,255,0.8);
    font-size: 1.5em;
    padding: 5px;
}
.publish-date {
    font-size: 12px;
    margin: 2px;
}


