{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
   <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript"></script>
   <script>
       tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})
   </script>
{% endblock %}

{% block content %}
    {% load bootstrap_tags %}
    <h1>New Article</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap}}
        <button type="submit" class="btn btn-info">Save</button>
    </form>
{% endblock %}