{% extends 'base.html' %}
{% load article_extras %}
{% block content %}
        <div class="row">
            <div id="main-article" class="col-xs-12 col-sm-8 col-lg-8">
                <h1>{{ article.title }}</h1>
                <div>
                    {% if article.image %}
                        <img class="img-responsive" src="/media/{{ article.image}}">
                    {% endif %}
                </div>
                <div class="intro"><strong>{{ article.intro}}</strong></div>
                {% autoescape off %}
                    <div class="content-area">{{ article.content }}</div>
                {% endautoescape %}
                <div class="publish-date">{{ article.published_date }}</div>
            </div>
            <div id="top-stories" class="col-xs-12 col-sm-4 col-lg-4 top-stories">
                <h2>Top Stories</h2>
                {%  top_stories story %}
            </div>
            <div id="related-content" class="col-xs-12 col-sm-4 col-lg-4">
                <h2>Related {{ article.category }} stories</h2>
                {%  related_content related %}
            </div>
        </div>
{% endblock %}