{% load humanize %}
<div class="best-of-rest">
    {% for story in polheadlines|slice:"4" %}
        <div class="col-xs-6 col-md-3">
            <div class="best-of-rest-item ">
                <a href="/articles/{{ story.id }}">
                    <div>
                        <img class="img-responsive" src="/media/{{ story.image}}">
                    </div>
                    <div class="panel">
                        <h4 class="best-of-rest-titles">{{ story.title }}</h4>
                        <p class="publish-date panel-publish-date">{{ story.published_date|naturaltime }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>