{% load humanize %}
<div>
    {% for related in relatedcontents|slice:"2" %}
        <div class="row related-content">
            <a href="/articles/{{ related.id }}">
                <div class="col-xs-4 col-sm-12 rel-con-img">
                    <img class="img-responsive" src="/media/{{ related.image }}">
                </div>
                <div class="col-xs-8 col-sm-12 rel-con-text">
                    <h4 class="rel-con-heading">{{ related.title }}</h4>
                    <p class="rel-con-pub-date">{{ related.published_date|naturaltime }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>